



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem 2rem;
    color: wheat;
    margin-top: 21px;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar .nav-links a:hover {
    text-decoration: underline;
  }
/* 
  .search-bar {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
  }  */